###
#### Copyright (C) JAEHYUK CHO
#### All rights reserved.
#### Author: JAEHYUK CHO <mailto:minzkn@minzkn.com>
####

version: "2.1"
services:
  mzdev-test:
    image: hwport/ubuntu:24.04
    container_name: mzdev-test
    hostname: mzdev-test
    stdin_open: true
    tty: true
    privileged: true
#    cap_add:
#      - "SYS_ADMIN"
#      - "SYS_RESOURCE"
#      - "SYS_PTRACE"
#      - "NET_ADMIN"
#      - "NET_BIND_SERVICE"
#      - "NET_BROADCAST"
#      - "NET_RAW"
#      - "BPF" # >= Linux Kernel v5.8
    environment:
      - container=docker
      - TZ=Asia/Seoul
      - TERM=xterm
      - LC_ALL=C
      - LANG=ko_KR.UTF-8
      - EDITOR=vim
      - INIT_USER=dev
      - INIT_USER_PASSWORD=password
#      - INIT_USER_COMMENT=Developer
#      - INIT_USER_GROUP=users
#      - INIT_USER_GROUPS=users,adm,sudo,audio,input
#      - INIT_USER_SHELL=/bin/bash
      - CLAMAV=yes
      - XRDP_DESKTOP=yes
      - SHELLINABOX=yes
#      - NVIDIA_VISIBLE_DEVICES=all
#      - NVIDIA_DRIVER_CAPABILITIES=all
#    deploy:
#      resources:
#        limits:
#          cpus: '39.9'
#          memory: 16384M 
#        reservations:
#          devices:
#            - driver: nvidia
#              count: all
#              capabilities: [gpu,utility,compute,video,graphics,display]
#    security_opt:
#      - apparmor:unconfined
#    devices:
#      - /dev/fuse:/dev/fuse
#      - /dev/kvm:/dev/kvm
#    volumes:
#      - /sys/kernel/debug:/sys/kernel/debug
#    tmpfs:
#      - /tmp
#      - /run
#      - /run/lock
#    networks:
#      - default
    network_mode: bridge
    ports:
      - "2222:22"
      - "3389:3389"
      - "4200:4200"
    restart: unless-stopped
    #networks:
    #    default:
    #      external:
    #        name: bridge
    #networks:
    #    default:
    #      driver: bridge
    #      enable_ipv6: true
    #      driver_opts:
    #        com.docker.network.enable_ipv6: "false" 
    #      ipam:
    #        driver: default
    #        config:
    #          - subnet: 172.21.251.0/24
    #            gateway: 172.21.251.1
    #          - subnet: fec0:172:21:251::/64
    #            #            gateway: fec0:172:21:251::1

# End of docker-compose.yml
