[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=pipewire
Comment=pipewire
Exec=/bin/sh -c '/usr/bin/pipewire & for i in 1 2 3 4 5; do sleep 1; /usr/libexec/pipewire-module-xrdp/load_pw_modules.sh >/tmp/pipewire-xrdp.log 2>&1; done; wait'
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
