###
#### Copyright (C) JAEHYUK CHO
#### All rights reserved.
#### Author: JAEHYUK CHO <mailto:minzkn@minzkn.com>
####

version: "2.1"
services:
  xrdp:
    image: hwport/ubuntu:xrdp
    container_name: xrdp
    hostname: xrdp
    stdin_open: true
    tty: true
    environment:
      - container=docker
      - TZ=Asia/Seoul
      - TERM=xterm
      - LC_ALL=C
      - LANG=en_US.UTF-8
      - EDITOR=vim
      - INIT_USER=dev
      - INIT_USER_PASSWORD=password
#      - INIT_USER_COMMENT=Developer
#      - INIT_USER_GROUP=users
#      - INIT_USER_GROUPS=users,adm,sudo,audio,input
#      - INIT_USER_SHELL=/bin/bash
        #    volumes:
        #      - /sys/fs/cgroup:/sys/fs/cgroup:ro
        #    tmpfs:
        #      - /tmp
        #      - /run
        #      - /run/lock
        #    networks:
        #      - default
        #    network_mode: bridge
    network_mode: bridge
    ports:
      - "3389:3389"
    restart: unless-stopped

# End of docker-compose.yml
